.hand-0{
    position: absolute;
    width: 250px;
    height: 400px;
    top: 450px;
    left: 0px;
    overflow: auto;
    float: left;
    margin: 20px
}
.hand-1{
     position: absolute;
     width: 250px;
     height: 400px;
     top: 450px;
     left: 290px;
     overflow: auto;
     float: left;
     margin: 20px
 }

.deck, .scene1, .scene2, .scene3 {
    width: 250px;
    height: 400px;
    overflow: auto;
    float: left;
    margin: 20px
}

.scene4 {
    width: 250px;
    height: 400px;
    overflow: auto;
    margin: 20px
}

.graveyard-0, .graveyard-1 {
    position: relative;
    width: 250px;
    height: 300px;
    left: 580px;
    overflow: auto;
    float: left;
    margin: 20px
}
