.field-1{
    width: 250px;
    height: 400px;
    overflow: auto;
    float: left;
    margin: 10px
}

.field-2 {
    width: 250px;
    height: 400px;
    overflow: auto;
    float: left;
    margin: 10px
}

.field-3 {
    width: 250px;
    height: 400px;
    overflow: auto;
    float: left;
    margin: 10px
}

.field-3-m {
    width: 240px;
    height: 400px;
    overflow: auto;
    float: left;
    margin: 5px
}

.field-3-s {
    width: 200px;
    height: 550px;
    overflow: auto;
    float: left;
    margin: 3px
}

.field-3-sq {
    width: 140px;
    height: 200px;
    overflow: auto;
    float: left;
    margin: 0px;
    margin-top: 178px;
}

.field-4 {
    position: relative;
    width: 250px;
    height: 300px;
    overflow: auto;
    float: left;
    margin: 10px
}